
.main__container{
    width: 650px;
    margin: auto;
    margin-top: 5%;
    border: 3px solid black;
    box-shadow: 0 0 20px black;
    padding: 8px;
    margin-bottom: 100%;
    height: auto;
    background-color: whitesmoke;
    color: black;
    border-radius: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    height: auto;
    
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(107,211,26,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top 90%;
    height: 1500px;
    width: 100%;
    
}
.center{
    text-align: center;
    color: white;
    padding: 15px;
}
.avaa{
    width: 120px;
    height: 120px;
    border: 3px solid black;
    border-radius: 100%;
    padding: 0;
}
.ava{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: -75px;
    margin-bottom: 0px;
    padding: 0;
    
}
.fon{
    background-color: #102600;
    width: 640px;
    height: 90px;
    margin-top: 3px;
    border: 3px solid black;
    box-shadow: 0 0 20px black;
    margin-left: 2px;
    border-radius: 20px;
}
li{
    list-style: none;
}
.opis{
    padding: 0;
    margin-top: -10;
    margin: auto;
    text-align: center;
}
.lol{
   width: 200px; 
   height: 350px;
   margin-left: 11px;
   box-shadow: 0 0 20px black;
   margin-top: 30px;
   margin-bottom: 20px;
   background: rgb(16,38,0);
    background: linear-gradient(180deg, rgba(16,38,0,1) 0%, rgba(107,211,26,1) 41%);
    border-radius: 20px;
    transition: 1s;

}
.all{
    display: flex;
    padding-bottom: 50px;

}
.photo{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 0;
    margin: auto;
}
p{
    padding: 5px;
    margin: auto;
}
.black{
    width: 150px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
}
.blacktwo{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    transition: 1s;
    
}
.buttons{
    margin: auto;
    text-align: center;
}
.p{
    width: 200px;
    height: 106px;
}
.lol:hover{
    width: 230px; 
   height: 360px;
}
button:hover{
    width: 140px;
    height: 60px;
    background-color: black;
    color: white;

}
  
